body {
    background-color: rgb(149, 149, 193);
    padding-right: 15.5rem;
    padding-left: 15.5rem;
    min-width: 53rem;
}

nav {
    min-height: 8rem;
    background-color: #41688f;
    border-radius: 0.5rem;
    margin-bottom: 1.1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-top: 2.1rem;
    justify-content: flex;
}

nav ul li {
    margin: 1rem;
    font-size: 1.6rem;
    padding-left: 1.2rem;
    margin-left: 3rem;
}

a {
    text-decoration: none;
    color: midnightblue;
}

a:hover {
    background-color: rgb(146, 202, 245);
}

img {
    width: 10.5rem;
    border-radius: 0.9rem;
}

section {
    display: flex;
    text-align: center;
}

.details {
    background-color: #d8e5f5;
    color: rgb(0, 51, 255);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 6.8rem;
    padding-right: 33rem;
    padding-left: 0.3rem;
}

p {
    padding-left: 15px;
}

h2 {
    padding: 1rem;
}

.headlines {
    min-width: 12.5rem;
    background-color: #8cb8f9;
}

section div ul {
    padding-top: 1rem;
}

@media (min-width: 1024px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
    .details {
        max-width: 6.8rem;
        padding-right: 11rem;
        padding-left: 0.3rem;
    }
    body {
        min-width: 30.5rem;
    }
}

@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
    .details {
        max-width: 6.8rem;
        padding-right: 11rem;
        padding-left: 0.3rem;
    }
    body {
        min-width: 30.5rem;
    }
}
